/* Contents:

    1. Global properties and styles
    
    2. Page layout

    3. Header
        - Search bar
        - User profile/ID
        - Greeting
        - Buttons

    4. Navigation sidebar
        - Dashboard logo
        - Links
    
    5. Main body of the page

        5.1. Articles section
            - Article card
        
        5.2. Asides section
            - Comments card
            - Analytics card
*/

/* ************************************************************
   1. Global properties and styles
   ************************************************************
*/

:root {
    box-sizing: border-box;

    --main-color: #257b7b;
    --main-filter: invert(35%) sepia(66%) saturate(434%) hue-rotate(131deg) brightness(101%) contrast(89%);

    --secondary-color: #944A1F;
    --secondary-filter: invert(28%) sepia(99%) saturate(404%) hue-rotate(338deg) brightness(99%) contrast(96%);

    --main-background-color: #e2eaeb;
    --secondary-background-color: #fefdfd;

    --dark-letter-color: #111;
    --dark-letter-filter: invert(5%) sepia(7%) saturate(21%) hue-rotate(314deg) brightness(91%) contrast(95%);

    --semi-dark-letter-color: #333;
    --semi-dark-letter-filter: invert(17%) sepia(0%) saturate(0%) hue-rotate(251deg) brightness(90%) contrast(86%);

    --light-letter-color: #fefefe;
    --light-letter-filter: invert(100%) sepia(1%) saturate(4269%) hue-rotate(223deg) brightness(109%) contrast(99%);

    font-family: 'Open Sans', sans-serif;
}

body,
.header-usergreeting p,
nav h1,
nav ul,
main h2,
.article-text h3,
.article-text p,
.comments-card-comment p,
.analytics-card-trend p {
    margin: 0;
}

/* ************************************************************
   2. Page layout
   ************************************************************
*/

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(150px, 20vh);
    min-height: 100vh;
}

/* ************************************************************
   3. Header
   ************************************************************
*/

header {
    background-color: var(--secondary-background-color);
    padding: 1rem 3rem;
    display: grid;
    grid-template-columns: minmax(150px, 2fr) minmax(150px, 1fr);
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
    box-shadow: 0 3px 3px #c0c0c0;
    z-index: 1;
}

.header-icon {
    max-width: 1.5rem;
    filter: var(--dark-letter-filter);
}

/* - Search bar */

.header-searchbar {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.header-searchbar label {
    display: flex;
    align-items: center;
}

.header-searchbar input {
    height: 1.5rem;
    background-color: var(--main-background-color);
    border-radius: 8px;
    border: none;
}

/* - User profile/ID */

.header-userid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.header-userid a {
    text-decoration: none;
    color: var(--dark-letter-color);
    text-align: end;
    font-size: 0.9rem;
    font-weight: 600;
}

.header-userid-profileimg {
    max-width: 2.5rem;
    border-radius: 100%;
}

/* - Greeting */

.header-usergreeting {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-items: center;
    gap: 0.5rem 1rem;
}

.header-usergreeting img {
    grid-row: 1 / 3;
    max-width: 4rem;
    border-radius: 100%;
}

.header-usergreeting p {
    color: var(--dark-letter-color);
}

.header-usergreeting-text {
    align-self: end;
    font-size: 0.9rem;
}

.header-usergreeting-username {
    align-self: start;
    font-size: 1.2rem;
    font-weight: 600;
}

/* - Buttons */

.header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 1rem;
}

.header-buttons button {
    background-color: var(--main-color);
    color: var(--light-letter-color);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.header-buttons button:hover {
    background-color: var(--main-background-color);
    color: var(--dark-letter-color);
    border: 1px solid var(--main-color);
}

/* ************************************************************
   4. Navigation sidebar
   ************************************************************
*/

nav {
    background-color: var(--main-color);
    color: var(--light-letter-color);
    padding: 1rem;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-content: start;
}

/* - Dashboard logo */

.dashboard-logo, 
nav li {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    gap: 1rem;
}

.dashboard-logo img {
    max-width: 2.5rem;
    justify-self: center;
    filter: var(--light-letter-filter);
    
}

/* - Links */

nav ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav ul img {
    max-width: 1.5rem;
    justify-self: center;
    filter: var(--light-letter-filter);
}

nav a {
    color: var(--light-letter-color);
    text-decoration: none;
}

nav a:hover {
    font-weight: 600;
}

/* ************************************************************
   5. Main body of the page
   ************************************************************
*/

main {
    background-color: var(--main-background-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    align-items: start;
}

main h2 {
    font-weight: 600;
    color: var(--dark-letter-color);
}

article,
.comments-card,
.analytics-card {
    border-radius: 10px;
    background-color: var(--secondary-background-color);
    box-shadow: 2px 3px 3px #c0c0c0;
}

/* ************************************************************
   5.1. Articles section
   ************************************************************
*/

.articles {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-template-rows: auto;
    grid-auto-rows: 200px;
    gap: 1rem;
}

.articles h2 {
    grid-column: 1 / -1;
    color: var(--dark-letter-color);
}

/* - Article card */

article {
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-between;
    justify-content: space-between;
    border-left: 8px solid var(--secondary-color);
    padding: 1rem 2rem 1rem 1rem;
}

.article-text {
    grid-column: 1 / 3;
}

.article-text h3,
.article-text p {
    color: var(--semi-dark-letter-color);
}

.article-text h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

.article-text p {
    max-height: 6rem;
    overflow: hidden;
    line-height: 1.2;
}

.article-status {
    align-self: center;
    font-size: 0.9rem;
}

.article-status-draft {
    color: var(--secondary-color);
}

.article-status-published {
    color: var(--main-color);
}

.article-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.article-buttons button {
    padding: 0;
    border: none;
    align-self: center;
    background-color: var(--secondary-background-color);
}

.article-buttons img {
    max-width: 1.5rem;
    filter: var(--dark-letter-filter);
}

/* ************************************************************
   5.2. Asides section
   ************************************************************
*/

.asides {
    grid-column: -1 / -2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-content: start;
}

aside h2 {
    margin-bottom: 1rem;
}

.comments-card,
.analytics-card {
    padding: 1rem;
}

/* - Comments card */

.comments-card-comment {
    border-bottom: 1px solid var(--dark-letter-color);
    padding: 1rem 0;
}

.comments-card-comment:first-child {
    padding-top: 0;
}

.comments-card-comment:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.comments-card-comment p:first-child {
    font-weight: 600;
    color: var(--dark-letter-color);
}

.comments-card-comment p:last-child {
    max-height: 4.5rem;
    overflow: hidden;
    font-size: 0.8rem;
    color: var(--semi-dark-letter-color);
}

/* - Analytics card */

.analytics-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.analytics-card-trend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    align-items: center;
}

.analytics-card-trend img {
    max-width: 2.5rem;
    grid-row: 1 / 3;
    border-radius: 100%;
}

.trend-up-img {
    filter: var(--main-filter);
}

.trend-down-img {
    filter: var(--secondary-filter);
}

.analytics-card-trend p {
    font-size: 0.9rem;
}

.analytics-card-trend p:first-child {
    color: var(--dark-letter-color);
}

.trend-up {
    color: var(--main-color);
}

.trend-down {
    color: var(--secondary-color);
}